:root{
    --blue-color : rgb(42, 62, 144);
    --orange-color : rgb(248, 158, 69);
}
/* start aboutUs */
.landing{
    background-color: var(--blue-color);
    color: white;
    height: 15rem;
}


.image{
    border-radius: 20px;
    width: 90%;
    height: fit-content;
}
.story p {
    color: rgba(0, 0, 0, 0.684);
}
.values{
    background-color: rgba(245, 244, 244, 0.721);
    
}.values p{
    color: rgba(0, 0, 0, 0.659);
    
}
.card{
    border: 0px;
    border-radius: 20px;
    height: 17rem;

}
.icon{
    color: var(--orange-color); width: 3rem; height: 3rem ; margin: 20px;
}
.coaches{
    background-color: rgba(245, 244, 244, 0.721);

}
.coach-img {
  width: 25rem;
  height: 25rem;       
  object-fit: cover;   
  border-radius: 20px;
}
/* end aboutUs */